/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
	 Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
	 Shared Styles
----------------------------------------- */

* {
	margin: 0;
}

html, body {
	height: 100%;
}


.green {


	background-color: green;
	height: 100%;
	text-align: center;
	height:44px;
}



.orange {


	background-color: orange;
	height: 100%;
	text-align: center;
	height:44px;

}


.red {


	background-color: red;
	height: 100%;
	text-align: center;
	height:44px;


}